  <h1>Say#hello</h1>
<p>
  It is now <%= @time %><br/>
  Time in one hour: <%= @timenexthour %><br/>
  Concat result: <%= @concatresult %><br/>
</p>
<p>
  Time to say <%= link_to "goodbye", say_goodbye_path %>!
</p>
